body
{
    background-color: black;
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1
{
    font-size: 75px;   
    color:blue;
    text-align: center;
}

h2
{
    font-size: 50px;
    color:red;
    text-align: center;
}

h3
{
    font-size: 30px;
    color: darkorange;
    text-align: center;
}

p
{
    font-size: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    min-width: 100px;
    color: whitesmoke;
}

footer
{
    font-size: 25px;
    text-align: center;
    color: blue;
}

copyright
{
    font-size: 25px;
    text-align: center;
    color: blue; 
}
